[submodule "vendor/plugins/shanti_integration"]
	path = vendor/plugins/shanti_integration
	url = git@github.com:shanti-uva/shanti_integration.git
[submodule "vendor/plugins/fathom_engine"]
	path = vendor/plugins/fathom_engine
	url = git@github.com:shanti-uva/fathom_engine.git
